![]( https://docs.google.com/uc?export=download&id=1oKIi5t0GlSKAoPTIt1f-DcOu0GcYHDD4)

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import os
os.chdir("/content/drive/My Drive/flask-sqlite-login")
!pwd
!ls

/content/drive/My Drive/flask-sqlite-login
dataset_dump.csv
fga_big_data_Eunice.db
FP_KEL3_Sesi_17_Flask_x_Google_Colab_Part1of2_CSV_to_SQLite3.ipynb
indexzz.html
Sesi_17_Flask_x_Google_Colab_Part1of2_CSV_to_SQLite3.ipynb
Sesi_17_Flask_x_Google_Colab_Part2of2.ipynb
static
templates

In [ ]:
!pip install db-sqlite3

Collecting db-sqlite3
  Downloading db-sqlite3-0.0.1.tar.gz (1.4 kB)
Collecting db
  Downloading db-0.1.1.tar.gz (3.4 kB)
Collecting antiorm
  Downloading antiorm-1.2.1.tar.gz (171 kB)
     |████████████████████████████████| 171 kB 36.5 MB/s
Building wheels for collected packages: db-sqlite3, db, antiorm
  Building wheel for db-sqlite3 (setup.py) ... done
  Created wheel for db-sqlite3: filename=db_sqlite3-0.0.1-py3-none-any.whl size=1793 sha256=fa05c75a809efa7641d27f8ba0310ba3a57c70b4c4e3e8d14404f0b02dad7940
  Stored in directory: /root/.cache/pip/wheels/02/38/d5/2f54461050571bf5330fee2a37ab1c9b5e7540b0572f1acdab
  Building wheel for db (setup.py) ... done
  Created wheel for db: filename=db-0.1.1-py3-none-any.whl size=3893 sha256=9025eedb6ceb5b6be37df882776304317b2244640dd8c0fa495954140bfc8dac
  Stored in directory: /root/.cache/pip/wheels/8e/97/82/741d2b360507411ec233d0280d7371faa94b03bde834e4a9be
  Building wheel for antiorm (setup.py) ... done
  Created wheel for antiorm: filename=antiorm-1.2.1-py3-none-any.whl size=31678 sha256=a27d8dfd88fa498ce8475875a5d7b8c1dcb9121066b180d8c0212940a1d21702
  Stored in directory: /root/.cache/pip/wheels/c5/43/70/e9729370cfff40c49d3e3d05377d54b3ecd71f64e62341ea80
Successfully built db-sqlite3 db antiorm
Installing collected packages: antiorm, db, db-sqlite3
Successfully installed antiorm-1.2.1 db-0.1.1 db-sqlite3-0.0.1

In [ ]:
import pandas as pd
import sqlite3
from datetime import date

BUAT TABLE DARI CASE

In [ ]:
#buat table pada database dgn nama gejala_covid
db = sqlite3.connect("fga_big_data_Eunice.db")
db.execute("create table asuransi_kesehatan(umur int, jenis_kelamin int, imt int, jumlah_anak int, perokok int, provinsi int, perusahaan_asuransi int, biaya_asuransi int)")

In [ ]:
#karena nyoba2 buat drop table yg salah buat
db.execute("drop table asuransi_kesehatan")

In [ ]:
!ls

Data_Generate_Reg_Eun_30.csv
dataset_dump.csv
fga_big_data_Eunice.db
FP_KEL3_Sesi_17_Flask_x_Google_Colab_Part1of2_CSV_to_SQLite3.ipynb
indexzz.html
Sesi_17_Flask_x_Google_Colab_Part1of2_CSV_to_SQLite3.ipynb
Sesi_17_Flask_x_Google_Colab_Part2of2.ipynb
static
templates

In [ ]:
data3 = pd.read_csv("Data_Generate_Reg_Eun_30.csv")
data3.shape
# data.head()

(30, 8)

In [ ]:
data3.head()

   umur  jenis_kelamin  ...  perusahaan_asuransi  biaya_asuransi
0    33              0  ...                    0    4.261534e+06
1    38              0  ...                    5    1.572452e+06
2    57              0  ...                    2    3.510819e+06
3    45              0  ...                    2    3.652440e+05
4    46              0  ...                    2    3.795882e+06

[5 rows x 8 columns]

In [ ]:
def pushCSVHargaAsuransiToDB(umur, jenis_kelamin, imt, jumlah_anak, perokok, provinsi, perusahaan_asuransi, biaya_asuransi):
#inserting values inside the created table
    db = sqlite3.connect("fga_big_data_Eunice.db")    
    cmd3 = "insert into asuransi_kesehatan(umur, jenis_kelamin, imt, jumlah_anak, perokok, provinsi, perusahaan_asuransi, biaya_asuransi) values('{}','{}','{}','{}','{}','{}','{}','{}')".format(umur, jenis_kelamin, imt, jumlah_anak, perokok, provinsi, perusahaan_asuransi, biaya_asuransi)
    db.execute(cmd3)
    db.commit()

In [ ]:
#memasukkan seluruh file pada csv ke table gejala_covid
for i in range(0,len(data3)):
  pushCSVHargaAsuransiToDB(data3.iloc[i][0],data3.iloc[i][1],data3.iloc[i][2],data3.iloc[i][3],data3.iloc[i][4],data3.iloc[i][5],data3.iloc[i][6],data3.iloc[i][7])

In [ ]:
db = sqlite3.connect("fga_big_data_Eunice.db")
qry = """

SELECT * FROM asuransi_kesehatan

"""
df = pd.read_sql_query(qry, db)
df.head()

   umur  jenis_kelamin  ...  perusahaan_asuransi  biaya_asuransi
0    33              0  ...                    0    4.261534e+06
1    38              0  ...                    5    1.572452e+06
2    57              0  ...                    2    3.510819e+06
3    45              0  ...                    2    3.652440e+05
4    46              0  ...                    2    3.795882e+06

[5 rows x 8 columns]